@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

:root {
    --bleu-royal: #5271ff;
    --dark-grey: #463f57;
    --light-grey: #bdbdbd;
    --orange: #fdb64c;
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: var(--dark-grey);
    color: white;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    background-color: var(--light-grey);
}

nav i {
    padding: 10px;
    margin: 20px;
    color: var(--dark-grey);
    border-radius: 7px;
}

i {
    font-size: 30px;
}

nav i:hover {
    background-color: var(--dark-grey);
    color: var(--light-grey);
    transition: .6s;
}

nav img {
    width: 75px;
    height: 75px;
}

a {
    color: var(--bleu-royal);
    text-decoration: none;
}

main h1 , h2 {
    text-decoration: underline;
}

footer {
    display: flex;
    justify-content: center;
    background-color: var(--light-grey);
    padding: 10px;
}

footer a {
    color: var(--dark-grey);
    text-decoration: none;
}

.mention_L_text {
    margin: 30px;
}

.Mention_L {
    text-align: center;
}